.container{
 width:100%;
 padding-left :0px !important;
 padding-right: 0px !important;
}
.body-content{
  margin-left: 14em;
  margin-top:0.5em;
  width:83%;
  -webkit-transition: margin-left 0.3s linear;
  -moz-transition: margin-left 0.3s linear;
  transition: margin-left 0.3s linear;
}
header{
    padding:0.7em;
    background-color: grey;
    color:white;
    font-size: large
}

header a {
    background-color: grey;
    color:white;
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
}

.pdsa-sn-wrapper{
    position:absolute;
    top:3.4em;
    left:0em;
    width:13em;
    height: 100%;
    background-color: black;
    
  -webkit-transition: left 0.3s linear;
  -moz-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

.pdsa-sn-wrapper ul {
    width: 11em;
    list-style: none;
    margin-top:2em;
    margin-left:1em;
    padding: 0em;
}

.pdsa-sn-wrapper ul li{
    margin-top:1em;
    margin-bottom: 0.5em;
}

.pdsa-sn-wrapper ul li a {
    color:#999999;
    text-decoration: none;
    padding:0.5em;
}

.pdsa-sn-wrapper ul li a:visited{
    text-decoration: none;
    color:#fff;
}

.pdsa-sn-wrapper ul li a:active , .pdsa-sn-wrapper ul li a:focus{
   text-decoration: none;
   outline:none;
   color:   red;
}

.pdsa-sn-wrapper ul .pdsa-sn-brand{
    margin-left: -0.5em;
    font-size: large;
    color:white;
}

.pdsa-sn-wrapper ul .pdsa-sn-brand a {
     color:white;
}

.pdsa-sn-wrapper ul .pdsa-sn-brand a:hover {
    color:lightblue;
    background: none;
     }

.pdsa-sn-wrapper ul li a span {
    margin-top: -1em;
    margin-bottom: -1em;
    margin-left: 1em;
    padding-top: -1em;
    padding-bottom: -1em;
}

.pdsa-sn-wrapper ul li ul {
    list-style: none;
    margin-top:1em;
    margin-left: 1em;
}

@media all and (max-width:768px){
    .pdsa-sn-wrapper {
        left:-10em;
    }
    .body-content { 
        margin-left: 5em;
    }

    
.pdsa-sn-wrapper ul li a i {
 padding-left: 8em;
 margin-top:-1em;
 margin-bottom: -1em;
}
}
