.pdsa-summary-block-primary{
    background-color: #428bca;
    color: #fff;
}

.pdsa-summary-block-primary .summary-footer{
background-color: deepskyblue;
}
.pdsa-summary-block-primary .summary-footer a{
 color: white;
}

.pdsa-summary-block-primary .summary-body{
    color: white;
}
.pdsa-summary-block-primary .summary-background i {
    color:white;
}
.pdsa-summary-block-success{
    background-color: #3c763d;
    color: #fff;
}

.pdsa-summary-block-success .summary-footer{
background-color:green;
}
.pdsa-summary-block-success .summary-footer a{
 color: white;
}
.pdsa-summary-block-success .summary-body{
    color: white;
}

.pdsa-summary-block-success .summary-background i {
    color:white;
}
.pdsa-summary-block-danger{
    background-color: #a94442;
    color: #fff;
}

.pdsa-summary-block-danger .summary-footer{
background-color: red;
}
.pdsa-summary-block-danger .summary-footer a{
 color: white;
}
.pdsa-summary-block-danger .summary-body{
    color: white;
}
.pdsa-summary-block-danger .summary-background i {
    color:white;
}
.pdsa-summary-block-info{
    background-color: #31708f;
    color: #fff;
}

.pdsa-summary-block-info .summary-footer{
background-color: teal;
}
.pdsa-summary-block-info .summary-footer a{
 color: white;
}
.pdsa-summary-block-info .summary-body{
    color: white;
}
.pdsa-summary-block-info .summary-background i {
    color:white;
}
.pdsa-summary-block{
    position:relative;
    width:100%;
    margin: 0.3em;
    padding:1em;
    min-height: 13em;
}

.pdsa-summary-block .summary-background i,
.pdsa-summary-block .summary-background div{
    margin-left: -0.3em;
    margin-top: 0.1em;
    font-size: 8em;
    opacity: 0.3;
}

.pdsa-summary-block .summary-body{
    position: absolute;
    top:1.3em;
    right: 0.8em;

}

.pdsa-summary-block .summary-body .summary-line-1{
    text-align: right;
    font-size: xx-large;
}


.pdsa-summary-block .summary-body .summary-line-2{
    text-align: right;
    font-size: medium;
}

.pdsa-summary-block .summary-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 0.4em;
    font-weight: 300;
    text-transform: uppercase;
    font-size: small;
    opacity: 0.6em;
}


.pdsa-summary-block .summary-footer a{
    text-decoration: none;
   
}
.pdsa-summary-block .summary-footer a:hover{
    opacity: 1;
    cursor: pointer;
}